.Appointment
{
    box-shadow: 5px 5px 5px black;
   margin: auto;
}
.home_card
{
    display: flex;
    justify-content: center;
    
   
}
.home_card span
{
    
    height: 100px;
    padding: 10px 20px 20px 10px;
    font-size: 50px;
    box-shadow: 5px 5px 5px black;
    
}
.home_card:hover span
{
    background-color: aqua;
}
.home_card:hover h4
{
    color: aqua;
}
.home_card div{
    margin-left: 50px;
}