.Appointment
{
    box-shadow: 5px 5px 5px black;
   margin: auto;
}
.home_card
{
    display: flex;
    justify-content: center;
   
}
.home_card span
{
    width: 150px;
    height: 150px;
}
.home_card:hover h4
{
    color: rgb(126, 80, 20);
}