*
{
    margin: 0 auto;
    padding: 0;
}
#row
{
    width: 390px;
    text-align: center;
}
#row ul
{
    list-style-type: none;
}
.hed-nav-bar
{
  
        display: flex;
        margin: auto;
        width: 80%;
        align-items: center;
}
